<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Which is the bigger travesty?</title>
	<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/media/js/flowplayer-3.2.4.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.form.js"></script>
	{% block extra_javascript %}
	{% endblock %}
	<link type="text/css" rel="stylesheet" href="/media/css/grid.css" media="screen,projection,print" />
	<link type="text/css" rel="stylesheet" href="/media/css/styles.css" media="screen,projection,print" />
	{% block extra_css %}
	{% endblock %}
</head>
<body>
	<div id="container" class="container_12" >
		<div id="header" class="grid_12">
			<div id="navigation" class="grid_4 alpha push_4">
				<a href="/" class="grid_2">Vote</a>
				<a href="/rankings" class="grid_2">Rankings</a>
			</div>
		</div>
		<div id="body" class="grid_12">
			{% block body %}
			{% endblock %}
		</div>
		<div id="footer" class="grid_12">
			This was made by (and for) the gents at <a href="http://gleesucks.com">glee sucks dot com</a>
		</div>
	</div>
</body>
</html>