<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Which is the bigger travesty?</title>
	<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/media/js/flowplayer-3.2.4.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.form.js"></script>
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
	{% block extra_javascript %}
	{% endblock %}
	<link type="text/css" rel="stylesheet" href="/media/css/grid.css" media="screen,projection,print" />
	<link type="text/css" rel="stylesheet" href="/media/css/styles.css" media="screen,projection,print" />
	{% block extra_css %}
	{% endblock %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21076277-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="container" class="container_12" >
		<div id="header" class="grid_12">
			<div id="navigation" class="grid_2 alpha push_4">
				<a href="/" class="grid_2">Vote</a>
				<a href="/rankings" class="grid_2">Rankings</a>
			</div>
			<a id="about-link" class="grid_2 push_4 omega" href="/what-is-this">What is this?</a>
		</div>
		<div id="body" class="grid_12">
			{% block body %}
			{% endblock %}
		</div>
		<div id="footer" class="grid_12">
			 <fb:like href="http://gleeoke.com" show_faces="false" width="450" font="arial"></fb:like>
			<span>This was made by (and for) the gents at <a href="http://gleesucks.com">glee sucks dot com</a></span>
		</div>
	</div>
</body>
</html>