<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Which is the bigger travesty?</title>
	<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/media/js/flowplayer-3.2.4.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.form.js"></script>
	{% block extra_javascript %}
	{% enblock %}
	<link type="text/css" rel="stylesheet" href="/media/css/grid.css" media="screen,projection,print" />
	{% block extra_css %}
	{% enblock %}
</head>
<body>
	<div id="container" class="container_12" >
		<div id="header" class="grid_12">
			<h1>Which is the bigger travesty?</h1>
		</div>
		<div id="body" class="grid_12">
			{% block body %}
			{% endblock %}
		</div>
		<div id="footer" class="grid_12">
			This was made by and for glee sucks dot com
		</div>
	</div>
</body>
</html>