{% extends "base.html" %}

{% block extra_javascript %}
	<script type="text/javascript">
		var leftPlayer;
		var rightPlayer;
		var random_image;
		// install flowplayer into container
		function addPlayer(elementId) {
			return $f(elementId, "/media/swf/flowplayer-3.2.5.swf", {
				// fullscreen button not needed here
				plugins: {
					controls: {
						fullscreen: false,
						height: 30,
						autoHide: false
					}
				},
				clip: {
					autoPlay: false,
					// optional: when playback starts close the first audio playback
					onBeforeBegin: function() {
						$f("player").close();
					}
				}

			});
		}
		
		function vote(choice) {
			if(choice == 'left') {
				var badsong = $('#audio-right').attr('rel');
				var worsesong = $('#audio-left').attr('rel');
				$('#left div.voteimage').css('background', "url('/media/img/glee_sayings.png') no-repeat scroll center " + random_image + "px transparent");
				$('#left div.voteimage').css('text-indent', "-8000px");
			} else {
				var badsong = $('#audio-left').attr('rel');
				var worsesong =	$('#audio-right').attr('rel');
				$('#right div.voteimage').css('background', "url('/media/img/glee_sayings.png') no-repeat scroll center " + random_image + "px transparent");
				$('#right div.voteimage').css('text-indent', "-8000px");
			}
			$.post("/vote", { "badsong":badsong, 'worsesong':worsesong},
				function(data){
					$('#audio-left').attr('rel', data.left.short_id);
					$('#audio-left').attr('href', data.left.url);
					leftPlayer.pause().seek(0).close();
					leftPlayer.getClip(0).update({ url:data.left.url, autoPlay: false});
					$('div#left .voteimage').html('<i>' + data.left.name + '</i> &mdash; ' +  data.left.user_handle);
					
					$('#audio-right').attr('rel', data.right.short_id);
					$('#audio-right').attr('href', data.right.url);
					rightPlayer.pause().seek(0).close();
					rightPlayer.getClip(0).update({ url:data.right.url, autoPlay: false});
					$('div#right .voteimage').html('<i>' + data.right.name + '</i> &mdash; ' +  data.right.user_handle);
					
					random_image = Math.floor(Math.random()*17) * -36;
			   }, "json");
		}
		
		$(document).ready(function() {
			leftPlayer = addPlayer("audio-left");
			rightPlayer = addPlayer("audio-right");
			random_image = Math.floor(Math.random()*17) * -36;
			$("a.vote").hover(
			  	function () {
					$(this).children('div.voteimage').css('background', "none no-repeat scroll 0 0 #a4e015");
					if($(this).parent('div').attr('id') == 'left') {
						$("#pick").css("background", "url('/media/img/pick-sprite.png') no-repeat scroll left -153px transparent");
					} else {
						$("#pick").css("background", "url('/media/img/pick-sprite.png') no-repeat scroll left -308px transparent");
					}	
				},
			  	function () {
			    	$(this).children('div.voteimage').css('background', "none no-repeat scroll 0 0 transparent");
					$(this).children('div.voteimage').css('text-indent', "0");
					$("#pick").css("background", "url('/media/img/pick-sprite.png') no-repeat scroll left top transparent");
			  	}
			);
		});
	</script>
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block body %}
			<div id="pick" >
			</div>
			<div id="left" class="grid_6 alpha">
				<a class="vote" href="#left" onclick="javascript:vote('left');return false;"><div class="voteimage"><i>"{{left_song.name}}"</i> &mdash; {{left_song.user_handle}}</div></a>
				<div class="audioplayer" id="audio-left" href="{{left_song.url}}" rel="{{left_song.short_id}}"></div>
				<!-- <h3>Comments <a href="#" onclick="javascript:$(this).parent('h3').siblings('div.comments').slideToggle(); return false;">(Show)</a></h3>
				<div class="comments">
					{% load comments %}
					
					{% get_comment_list for left_song as comment_list %}
					{% render_comment_list for left_song %}
					
					{% get_comment_form for left_song as form %}
					<div class="comment_form">  
						{% render_comment_form for left_song %}
					</div>				
				</div> -->
			</div>
			<div id="right" class="grid_6 omega">
				<a class="vote" href="#right" onclick="javascript:vote('right');return false;"><div class="voteimage"><i>"{{right_song.name}}"</i> &mdash; {{right_song.user_handle}}</div></a>
				<div class="audioplayer" id="audio-right" href="{{right_song.url}}" rel="{{right_song.short_id}}"></div>
				<!--<h3>Comments <a href="#" onclick="javascript:$(this).parent('h3').siblings('div.comments').slideToggle(); return false;">(Show)</a></h3>
				<div class="comments">
					{% get_comment_list for right_song as comment_list %}
					{% render_comment_list for right_song %}
					
					{% get_comment_form for right_song as form %}
					<div class="comment_form">  
						{% render_comment_form for right_song %}
					</div>				
				</div> -->
			</div>
{% endblock %}