{% extends "base.html" %}

{% block body %}
	<p>Once upon a time, a terrible show was created, and this show was called "<i>Glee</i>".</p>
	<p>But then Fox executives thought to themselves "We must be able to make more money off of this", and so the <a href="http://glee.smule.com/">Glee Karaoke</a> app came about.</p>
	<p>The songs are so remarkably terrible, we at <a href="http://gleesucks.com">gleesucks.com</a> knew that something more had to be done to make fun of these Gleeks, and so we built this site.</p>
	<p>Of course, there are thousands of these songs being uploaded by Gleeks <i>every day</i>, so ranking that many songs would be difficult. So, in order to keep things interesting, we just took a 
		random selection of about 1000 songs, and that's what you're seeing on the site.</p>
{% endblock %}